body{background-image:none;background-color:#fff;font-family:"lucida grande","lucida sans unicode",lucida,helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;font-weight:200}html{color:#000;overflow-y:scroll;background:#fff}body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,form,th,td{margin:0;padding:0;list-style-type:none;list-style-image:none}pre,code{width:100%-20px;padding:10px;border:0;border:1px dotted #785;background:#f5f5f5;word-wrap:break-word}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}address,cite,dfn,em,var{font-style:normal}code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace;font-size:14px!important;font-weight:200}small{font-size:12px}ul,ol{list-style:none}a{text-decoration:none important}a:link,a:visited{color:#ff7300}a:hover{color:hsl(27,100%,70%)}a:active{color:hsl(27,100%,30%)}abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help}q:before,q:after{content:''}:focus{outline:0}legend{color:#000}fieldset,img{border:none}button,input,select,textarea{font-size:100%}table{border-collapse:collapse;border-spacing:0}hr{border:none;height:1px;*color:#fff}img{-ms-interpolation-mode:bicubic}#blogTitle a{color:#000}article,aside,dialog,footer,header,hground,section,footer,nav,figure,menu{display:block}.entrylist h1{font-size:30px;padding:20px}.entrylistItem{margin-bottom:20px;padding-bottom:30px;border-bottom:1px solid #e6e6e6}.entrylistItem .entrylistPosttitle{font-size:20px;padding-right:64px;padding-left:10px;border-left-width:3px;border-left-style:solid;border-left-color:#F60;margin-left:20px}.entrylistItem .entrylistPostSummary{padding-left:14px;font-size:14px;color:#333;line-height:1.8;margin-top:12px}.entrylistItemPostDesc{text-indent:14px;margin-top:5px}*{transition:all .3s}a{text-decoration:none !important}#navigator a{color:#000}#navigator a:hover{color:#ff7300;text-decoration:none}#sideBarMain a{color:#000}#sideBarMain a:hover{color:#ff7300;text-decoration:none}.postTitle,.entrylistPosttitle,.feedback_area_title{border-bottom:0px solid !important}.postTitle{font-size:18px;padding-right:64px;padding-left:10px;border-left-width:6px;border-left-style:solid;border-left-color:#F60;line-height:1.4}.postTitle a{color:#333}.postTitle a:link,.post-title a:visited{color:black;font-weight:bold}.postTitle a:hover{color:#ff7300;text-decoration:none}.comment_actions a{color:#000}.comment_vote a{color:#000}.feedbackListSubtitle .layer{color:#000}#author_profile_detail a{color:#000}#BlogPostCategory a{color:#000}#comment_nav a{color:#000}#comment_nav a:hover{color:#ff7300;text-decoration:none}#comment_form a{color:#000 !important}#comment_form a:hover{color:#ff7300 !important}
#cnblogs_post_body {font-size:14px;   font-family: verdana, geneva;}
#cnblogs_post_body h2{line-height:2.5 !important}
#cnblogs_post_body h3{line-height:2.6  !important; font-size:18px !important}
#cnblogs_post_body h4{line-height:1.8  !important}
#topics .postTitle {margin-bottom:16px;font-family: verdana, geneva;}
#home{  overflow: hidden !important;}
code {
    padding: 2px 4px !important;
    border: 0 !important;
    background: #f9f2f4 !important;
    color: #c7254e !important;
    font-family: "Source Code Pro",Consolas,Menlo,Monaco,"Courier New",monospace !important;
    font-weight: normal !important;
    font-size: 13px !important;
    border-radius: 4px !important;
}
.syntaxhighlighter table td.code{
        width: 100% !important; 
}
 
.syntaxhighlighter table tr td.code .line {
        white-space: nowrap !important;
        overflow: hidden !important;
        display: -webkit-box !important; 
}
 
.sh-gutter div.line{
        white-space: nowrap !important;  
  }
.syntaxhighlighter code {
    -webkit-text-size-adjust: none !important; 
}
 .syntaxhighlighter code.csharp,  .syntaxhighlighter code.cpp{
        padding:0 !important;
        white-space: nowrap !important; 
       display: inline-block;    
       font-family: Menlo,Monaco,"Courier New",Courier,monospace !important       
 }
.syntaxhighlighter .line{
       font-family: Menlo,Monaco,"Courier New",Courier,monospace !important      
}
.syntaxhighlighter .comments{
    vertical-align: bottom !important;
}
blockquote, blockquote pre {
    border:0 !important
}
blockquote code,blockquote a{
    color: #000 !important;
    background-color: transparent !important;
}
.weibo-link {
  position:relative;
  margin-top:-10px;
}
.weibo-link a sup:hover{
      text-decoration: underline;
}
.postBody1{
  border-top: 1px solid #f8f7f7
}
#cnblogs_post_body h3 {
    border-bottom: 1px solid #f3f3f3;
    margin: 20px 0 10px;
}
.postBody blockquote{
       border-left: 2px solid #009A61 !important;
    background: #F6F6F6;
    color: #555;
    font-size: 1em;
    margin-top: 1em;
    padding: 10px 20px;
    font-weight: 400;
}
.postBody blockquote p{
   margin: 0 auto !important
}
.flag-counter {
   display:block;
   position: relative;
}
.flag-counter::before {
      content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    background: #fff;
   display:block;
}
.flag-counter::after {
     content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #fff;
    display: block;
}
.flag-counter img {
   margin-left: -5px;
}