.clearfix:before, .clearfix:after {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.scrollBtn {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 54px;
    _position: absolute;
    z-index:500;
}

    .scrollBtn a {
        display: inline-block;
        overflow: hidden;
        width: 54px;
        height: 54px;
        -webkit-transition: opacity .5s ease;
        -moz-transition: opacity .5s ease;
        -o-transition: opacity .5s ease;
        transition: opacity .5s ease;
        text-align: center;
        opacity: .6;
        color: white;
        background: url(//images.cnblogs.com/cnblogs_com/ChenXu-net/517141/o_gototop.png) no-repeat 0 0;
        filter: Alpha(Opacity=60);
    }

    .scrollBtn li {
        float: left;
        overflow: hidden;
        height: 54px;
        margin-bottom: 5px;
    }

    .scrollBtn a:hover {
        opacity: 1;
        filter: Alpha(Opacity=100);
    }

.sB-comment a {
    height: 17px;
    padding-top: 34px;
    padding-bottom: 3px;
    background-position: 0 -59px;
}

.sB-share a {
    background-position: 0 -118px;
}

.sB-goTop a {
    background-position: 0 -177px;
}


.First {
    font-family: '宋体';
    font-size: 20px;
    clear: both;
    margin: 10px 0;
    padding: 6px 20px;
    text-align: left;
    color: white;
    border-radius: 4px;
    background: #59C3E4;
}

.Second {
    font-family: '宋体';
    font-size: 18px;
    clear: both;
    margin: 10px 0;
    padding: 6px 20px;
    color: white;
    border-radius: 4px;
    background: #789FF3;
}

.Third {
    font-family: '宋体';
    font-size: 16px;
    clear: both;
    margin: 10px 0;
    margin: 15px 0;
    padding: 6px 20px;
    color: white;
    color: #999;
    border-radius: 4px;
    background: #c6efd2;
}

/*快速评论*/
#div_digg {
  position: fixed;
  bottom: 10px;
  right: 50px;
  border: 2px solid #ECD7B1;
  padding: 10px;
  width: 120px;
  background-color: #fff;
  border-radius: 5px 5px 5px 5px !important;
  box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
}

#div_digg{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #E9F2F9;
    padding: 10px;
    border-radius: 15px;
    /* border-width: medium; */
    /* border: black; */
    border-style: dashed;
    border-color: #3A5475;
}
.cnblogs_code div {
    background-color: #F6F6F6 !important;
}
/*修改阅读时的背景*/
#cnblogs_post_body {
  background-color: #FFFFFF;
  padding: 5%;
  border-radius: 5px;
}
/*修改主体页面的背景*/
#mainContent .forFlow {
  background: #E9F2F9;
}
/*修改文字部分的背景和字体*/
.postCon {
  background-color: #FFFFFF;
  font-family: "宋体","宋体";
  border-radius: 5px;
}
.catListTitle {
  font-weight: bold;
  line-height: 1.5em;
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 0px dotted #E74C3C;
  text-align: left;
  color: #FAEFEE;
  margin-left: 10px;
}
#MyLinks1_NewPostLink{
  display:left;
}
#sideBar {
  margin-top: 20px;
}
#blogTitle h1 a:visited, #blogTitle h1 a:link {
  color: #CCC0B3;
}
#navList a:link, #navList a:visited, #navList a:active {
  color: #CCC0B3;
}
.Cal {
  color: #CCC0B3;
}
a:link {
  color: #45A336;
}
#sideBarMain{
  text-align:left;
  margin-left: 10%;
}
#blog-calendar {
  width: 100%;
  margin-left: 0;
}
.CalTitle {
  background: rgb(58, 84, 117);
  color: rgb(199, 200, 201);
}
.newsItem {
    padding: 15px;
    margin-bottom: 8px;
    background-color: #3498DB;
    border-radius: 0 5px 5px 0;
    text-align: left;
    color: #F00;
}
#main {
  background-color: #3A5475;
  float: none;
}
#home {
  background-color: #3A5475;
}
.blogStats {
  float: initial;
  color: #ccc;
  margin-top: 0px;
  margin-right: 0px;
  text-align: right;
  border-top: 0px solid #E74C3C;
  background-color: #3A5475;
  background-color: border-radius: 0 0px 0 0;
}
#navList {
  margin-top: 0px;
  border-top: 0px solid #E74C3C;
  margin-bottom: 30px;
  background-color: #3A5475;
  border-radius: 0 0px 0 0;
}
html {
  background-color: #3A5475;
}
#blogTitle {
  background-color: #3A5475;
}
#lnkBlogLogo {
  display: none;
}
#blogTitle h1 {
  text-align: center;
}
#blogTitle h2{
  text-align: center;

}
.commentbox_title, div.commentform .comment_textarea {
    width: 99%;
}
div.commentform textarea {
    width: 99%;
    height: 100px;
    font-size: 14px;
}
.cnblogs_code_toolbar a:hover, .cnblogs_code_toolbar a:link, .cnblogs_code_toolbar a:visited, .cnblogs_code_toolbar a:active, .cnblogs_code_toolbar a:link img, .cnblogs_code_toolbar a:visited img {
    background-color: rgb(246, 246, 246);
    border: none!important;
}
.cnblogs_code div {
    background-color: #F6F6F6;
}
.cnblogs_code {
background-color: rgb(246, 246, 246);;
font-family: Courier New!important;
font-size: 12px!important;
padding: 5px;
overflow: auto;
margin: 5px 0;

border-radius: 6px 6px 6px 6px;
}


.newsItem {
    border: 0px;
    background: #F5F5F5;
}
#blogTitle .title a:first-letter {
    color: #666;
    font-weight:bold;
}
#blogTitle .title a:hover:first-letter {
    color: #666;
    background: #F6F6F6;
}
#blogTitle .title a:hover {
    color: #666;
    background: #F6F6F6;
}

#navList li a:hover{
    background-color:#3A5475;
    color: #E74C3C;
}
#blogTitle{
    font-family:"宋体","宋体";
}
.feedbackItem a {
    color: #666;
}
.postDesc a {
    color: #327FF5;
}
#mainContent {
    width: 80%;
}
element.style {
    width: 100%;
}
/*修改标题背景*/
.postTitle {
    background: rgb(233, 242, 249);
    padding: .4em;
    position: relative;
    right: 0;
    margin-top: 7px;
    width: 100%;
    font-size: 1.1em;
}
.postTitle a {
    color: #666;
    text-decoration: none;
}
.postBody a:hover, .postCon a:hover {
    background: #D2967C;
    color: #fff;
}
#leftcontentcontainer li a:hover {
    color: #E74C3C;
}
#leftcontentcontainer li a {
    color: #CCC0B3;
    text-decoration: none;
    display: block;
    padding: .3em;
}
.postBody a, .postCon a {
    color: #327FF5;
    text-decoration: none;
}
#comment_form a {
    color: #666666;
    text-decoration: none;
}
body {
    font-family:"宋体","宋体";
    font-size:16px;
}
#cnblogs_post_body p {
    font-family:"宋体","宋体";
    font-size:16px;
}
/*改标题格式，shenbo add*/
#cnblogs_post_body h1 {
    background: none repeat scroll 0% 0% rgb(58, 84, 117);
    border-radius: 6px 6px 6px 6px;
    color: rgb(199, 200, 201);
    font-family:"宋体","宋体";
    font-size: 20px;
    margin: 15px 0px !important;
    padding: 5px 0px 5px 20px;
}
#cnblogs_post_body h2 {
    background: none repeat scroll 0% 0% rgb(79, 148, 205);
    border-radius: 6px 6px 6px 6px;
    color: rgb(0, 0, 0);
    font-family:"宋体","宋体";
    font-size: 18px;
    margin: 15px 0px !important;
    padding: 5px 0px 5px 20px;
}
#cnblogs_post_body h3 {
    background: none repeat scroll 0% 0% rgb(100, 100, 100);
    border-radius: 6px 6px 6px 6px;
    color: rgb(255, 255, 255);
    font-family:"宋体","宋体";
    font-size: 16px;
    margin: 15px 0px !important;
    padding: 5px 0px 5px 20px;
}
#cnblogs_post_body h4 {
    background: none repeat scroll 0% 0% rgb(190, 190, 190);
    border-radius: 6px 6px 6px 6px;
    color: rgb(0, 0, 0);
    font-family:"宋体","宋体";
    font-size: 14px;
    margin: 15px 0px !important;
    padding: 5px 0px 5px 20px;
}
#navCategory_class{
    line-height:1em;
    color: #FF6100;
}
#cnblogs_post_body a {
    text-decoration: none;
    color: #2769C0;
    padding: 1px 2px;
}
#cnblogs_post_body a:hover{
    color: #fff;
    background-color: #78AFD3;
    padding: 1px 2px;
}
#cnblogs_post_body ul li {
    list-style: inherit!important;
    margin-bottom: 0.1em;
}
#cnblogs_post_body h2 a{
   color: rgb(235, 235, 235);
}
#cnblogs_post_body h2 a:hover{
   color: rgb(255, 102, 0);
}

img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.postBody blockquote {
    background-color: rgb(233, 242, 249);
}
blockquote {
    border: 0px;
}
li {
    line-height: 23px;
}
/*清除浮动*/
.clear {
    clear: both;
}
/*屏蔽广告*/
.c_ad_block {
    display: none;
}